:root {
    --light: #87ceeb;
    --midtone: grey;

}

header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #87ceeb;
    border-bottom: 7px solid grey;
    color: grey;
    margin: 0px;
}

#header-items{
    display: flex;
    flex-direction: row;

}

body h3, div, button, p{
    margin: 10px;
    display: flex;
}

 .stack{
    display: flex;
} 

.container{
    display: flex;
    /* visibility: hidden; */
    
    
}

/* Commented out to see the final layout */
#daily-weather, #weekly-weather{
    /* visibility: collapse; */
    flex-direction: row;
}

aside{
    flex-direction: column;
}

#city-search, #history-cont{
    flex-direction: column;
}

#weather-card{
    flex-direction: column;
}